$backgroundColor: #5F50E6;
$defaultFontSize: .85em;
$defaultFontFamily: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
$activeColor: #D4B148;
$borderColor: #EDE161;
$highlightColor: #8F6C2C;
$foregroundColor: #B9EDDB;
$tooltipForegroundColor: #F5F57D;
$tooltipBackgroundColor: #A3Ad44; 
$h1size: 2em;
$h2size: 1.5em;
$h3size: 1.2em;
$h4size: 1.1em;
$h5size: 1em;
$h6size: 1em;
$expanderHeaderFontSize: 1.1em;
$expanderHeaderFontFamily: "Times New Roman",Georgia,Serif;
$expanderHeaderFontStyle: italic;
$expanderHeaderBackgroundColor: #91CCCB;
$expandedImage: url('./images/navup.gif');
$collapsedImage: url('./images/navdown.gif');
$closeImage: url('./images/icon-close.png');
$treenodeExpandedImage: url('./images/arrow_up.png');
$treenodeCollapsedImage: url('./images/arrow_down.png');
$defaultWindowOverlayColor: #EDA8E7;
$defaultWindowOverlayOpacity: 0.75;
$dialogCancelIcon: url('./images/icon-close.png');
$dialogTitleHeight: 24px;
$dialogButtonRowHeight: 32px;
$defaultDialogWidth: 400px;
$defaultDialogHeight: 300px;
$dialogBorderColor: #D7DFE0;
$dialogTitleFontSize: 1.2em;
$dialogTitleFontFamily: "Times New Roman",Georgia,Serif;
$dialogTitleFontStyle: normal;
$dialogTitleFontWeight: bold;
$dialogTitleBackgroundColor: #76E4F5;
$dialogContentBackgroundColor: #1FAD9D;
$dialogButtonRowBackgroundColor: #91CCCB;
$dialogBackgroundColor: #CBF23D;
$decreaseImage: url("./images/arrow_left.png");
$increaseImage: url("./images/arror_right.png");
$verticalSplitterDividerBackground: #17D1BB;
$verticalSplitterDividerWidth: 7px;
$verticalSplitterDividerCollapseButtonHeight: 11px;
$verticalSplitterDividerCollapseColor: #C4B133;
$verticalSplitterDividerSpacerHeight: 17px;
$scrollerWidth: 11px;
$scrollerScrollButtonColor: #CFF26F;
$scrollerBackColor: #17D1BB;
$scrollerDragButtonColor: #DB4D8D;
$errorBorderColor: #62CCF0;
$errorTextColor: #F71928;
$pdfFileIcon: url("./images/Adobe-PDF-Document.png");
$wordFileIcon: url("./images/document_microsoft_word.png");
$videoMpegIcon: url("./images/File-Video-MPEG.png");
$videoAviIcon: url("./images/file_video_avi.png");
$audioFileIcon: url("./images/file_audio.png");
$audioMp3FileIcon: url("./images/file_audio_mp3.png");
$textFileIcon: url("./images/file_text.png");
$xmlFileIcon: url("./images/file_xml.png");
$zipFileIcon: url("./images/file_zip.png");

@import '../base.scss'
